@media (max-width: 768px){
	header{
		#logo_header{
			margin-left:40%;
		}

	}

	#welcome{
		.banner{
			margin-left:10%;
			h1{
				margin-left:-4% !important;
				font-size:52px;
			}
			p{
				width:70%;
				margin-left: 15% !important;
			}
		}
	}
	.title{
		margin-left:8% !important;
	}

	#te{
		p.title{
			margin-left:4% !important;
		}
	}

	footer{
		#powered p{
			right:10%;
			position:relative;
		}
	}

	#productos{
		display: none !important;
  		visibility: hidden !important;

	}

	#contacto{
		.content{
			margin-left:0%;
		}
	}

	footer{
		.first  #social  .second{
			top:-39px !important;
			margin-right: 33px !important;
		}
		.first #social .first{
			margin-right: 51px !important;
		}
		.first #social p{
			margin-right:22px !important;
		}

		#powered p{
			right:-45% !important;
		}
	}



}

