<div id="carousel-productos" class="carousel slide visible-sm" data-ride="carousel">

					<ol class="carousel-indicators">
						<li data-target="#carousel-productos" data-slide-to="0"></li>
						<li data-target="#carousel-productos" data-slide-to="1"></li>
						<li data-target="#carousel-productos" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">
						<div class="item active">
							<div class="row">
								<div class="col-sm-3">
									<div class="thumbnail">
										<img src="http://placehold.it/300x300" alt="" class="img-responsive">
										<div class="caption">
											<p class="title">Lorem Ipsum</p>
											<p>
												Jjas gkas gagopqeyj sdgksg qeirje msdgsdg qier
												adga giqeqent akf
											</p>
										</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="thumbnail">
										<img src="http://placehold.it/300x300" alt="" class="img-responsive">
										<div class="caption">
											<p class="title">Lorem Ipsum</p>
											<p>
												Jjas gkas gagopqeyj sdgksg qeirje msdgsdg qier
												adga giqeqent akf
											</p>
										</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="thumbnail">
										<img src="http://placehold.it/300x300" alt="" class="img-responsive">
										<div class="caption">
											<p class="title">Lorem Ipsum</p>
											<p>
												Jjas gkas gagopqeyj sdgksg qeirje msdgsdg qier
												adga giqeqent akf
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<a class="left carousel-control" href="#carousel-productos" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-productos" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>

				</div>
